---
import Card from '../components/card.astro';
import Layout from '../layouts/Layout.astro';


const { frontmatter } = Astro.props;
---

<Layout title="Resources | Resource Gallery">
	<main>
		<h1>Resource Gallery - <span class="text-gradient">Frameworks</span></h1>
		<p class="instructions">
			To contribute, open the directory <code><a href="https://github.com/Astrodevil/resource-gallery/tree/main/src/pages">src/pages</a></code> on GitHub.<br />
			<strong><a href="https://github.com/Astrodevil/resource-gallery/issues">Open Issue:</a></strong> Improve the "Resource Gallery" and earn credits as early contributor🎉</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://react.dev"
				target="_blank"
				title="React (Docs)"
				body="React docs are comprehensive and interactive resource that teaches modern React, including 600+ interactive code examples, sandboxes, and demos."
			/>
			<Card
				href="https://vuejs.org/"
				target="_blank"
				title="Vue.js (Docs)"
				body="Vue is an open-source model–view–viewmodel front end JavaScript framework for building user interfaces and single-page applications."
        		/> 
			<Card
				href="https://vitejs.dev/"
				target="_blank"
				title="Vite (Docs)"
				body="Vite is a modern build tool that aims to provide a faster and leaner development experience for modern web projects."
			/>
			<Card
				href="https://expressjs.com/"
				target="_blank"
				title="Express.js (Docs)"
				body="Express.js is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications. It is designed for building web applications and APIs."
			/>
			<Card
				href="https://nextjs.org/"
				target="_blank"
				title="Next.js (Docs)"
				body="Next.js is a powerful and flexible React framework for building server-rendered, static, and dynamic web applications."
			/>
			<Card
				href="https://www.djangoproject.com/"
				target="_blank"
				title="Django (Docs)"
				body="A high-level Python framework that follows the model-view-controller (MVC) architectural pattern for rapid development."
			/>
		</ul>
	</main>
	
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 120ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #000000 30%, rgb(255, 255, 255) 60%);
	}
	/* html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	} */
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>

