---
import Card from '../components/card.astro';

import { Picture } from "@astrojs/image/components";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { getFormattedDate } from "@utils/all";
import { log } from "astro/dist/core/logger/core";

---

<Layout title="Resources | Resource Gallery">
	<main>
		<h1>Welcome to <span class="text-gradient">Resource Gallery</span></h1>
		<p class="instructions">
			To contribute, open the directory <code><a href="https://github.com/Astrodevil/resource-gallery/tree/main/src/pages">src/pages</a></code> on GitHub.<br />
			<strong><a href="https://github.com/Astrodevil/resource-gallery/issues/1">Open Issue:</a></strong> Improve the "Resource Gallery" and earn credits as early contributorðŸŽ‰
		<ul role="list" class="link-card-grid">
			<Card
				href="https://roadmap.sh/"
				title="Roadmaps"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://mranand.com/Open-Source-Gallery/"
				title="Open Source"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Web Dev"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="AI/ML"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Data Structures"
				body="Come say hi to our amazing Discord community. â¤ï¸"
			/>
			<Card
				href="https://astro.build/themes/"
				title="Android"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/themes/"
				title="JavaScript"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/themes/"
				title="DevOps"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Flutter"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/themes/"
				title="APIs"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Git"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Frameworks"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Python"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Java"
				body="Explore a galaxy of community-built starter themes."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 150ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #000000 30%, rgb(255, 255, 255) 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>

