---
import Card from '../components/card.astro';
import Layout from '../layouts/Layout.astro';


const { frontmatter } = Astro.props;
---

<Layout title="Resources | Resource Gallery">
	<main>
		<h1>Resource Gallery - <span class="text-gradient">Web Development</span></h1>
		<p class="instructions">
			To contribute, open the directory <code><a href="https://github.com/Astrodevil/resource-gallery/tree/main/src/pages">src/pages</a></code> on GitHub.<br />
			<strong><a href="https://github.com/Astrodevil/resource-gallery/issues">Open Issue:</a></strong> Improve the "Resource Gallery" and earn credits as early contributor🎉</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://www.geeksforgeeks.org/web-development/"
				target="_blank"
				title="Web Development - GFG (Docs)"
				body="Learn modern Web Development from this guided roadmap filled with content, examples, resources, and project ideas. This course is prepared by Showwcase."
        		/> 
			<Card
				href="https://mranand.com/series/javascript-fundamentals/"
				target="_blank"
				title="JavaScript Fundamentals (Blog)"
				body="This Blog series is writted by Mr. Ånand while learning Javascript."
			/>
			<Card
