---
import Card from '../components/card.astro';
import Layout from '../layouts/Layout.astro';


const { frontmatter } = Astro.props;
---

<Layout title="Resources | Resource Gallery">
	<main>
		<h1>Resource Gallery - <span class="text-gradient">Web Development</span></h1>
		<p class="instructions">
			To contribute, open the directory <code><a href="https://github.com/Astrodevil/resource-gallery/tree/main/src/pages">src/pages</a></code> on GitHub.<br />
			<strong><a href="https://github.com/Astrodevil/resource-gallery/issues">Open Issue:</a></strong> Improve the "Resource Gallery" and earn credits as early contributor🎉</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://www.geeksforgeeks.org/web-development/"
				target="_blank"
				title="Web Development - GFG (Docs)"
				body="Learn modern Web Development from this guided roadmap filled with content, examples, resources, and project ideas. This course is prepared by Showwcase."
      /> 
			<Card
				href="https://dev.to/aspittel/a-complete-beginners-guide-to-react-2cl6"
				target="_blank"
				title="A Complete Beginner's Guide to React (Blog)"
				body="This Blog series is writted by Ali spittel for beginner react developers."
			/>
			<Card
				href="https://www.w3schools.com/react/react_intro.asp"
				target="_blank"
				title="Learn REACT (website)"
				body="A comprehensive online resource for learning React, the JavaScript library for building user interfaces."
			/>
			<Card
        href="https://nodejstutor.com/introduction-to-node-js/"
        target="_blank"
        title="NodeJs Basics (Website)"
        body="A basic development guide for all the developers starting to learn NodeJs for the first time."
      />
      <Card
        href="https://www.mongodb.com/basics/mongodb-tutorials"
        target="_blank"
        title="MongoDB Tutorial (Website)"
        body="Best official tutorial for those who wanted to supplement their WebDev knowledge with MongoDB"
      />
      <Card
        href="https://www.w3schools.io/learn/nextjs-tutorial"
        target="_blank"
        title="Learn Nextjs Tutorial (website)"
        body="NextJS Learn step by step to create a NextJS application with examples of folder structure pros and cons advantages and disadvantages."
      />
      <Card
        href="https://nextjs.org/blog"
        target="_blank"
        title="NextJS Blogs (website)"
        body="NextJS is a framework to build a full-stack application with features such as server-side rendering using React framework. This section consists of latest Blogs"
      />
      <Card
        href="https://nextjs.org/docs"
        target="_blank"
        title="NextJS Documentation (website)"
        body="Next.js is a framework for building web applications. With Next.js, you can build user interfaces using React components. Then, Next.js provides additional structure, features, and optimizations for your application. This Section conssts of NextJs Documentation."
      />
      <Card
        href="https://www.theodinproject.com/"
        target="_blank"
        title="The Odin Project (Web Development)"
        body="Your Career in Web Development Starts Here and It' free to Learn"
      />
      <Card
        href="https://devdocs.io/"
        target="_blank"
        title="DevDocs.io (Docs)"
        body="DevDocs combines multiple developer documentations in a clean and organized web UI with instant search, offline support, mobile version, dark theme, keyboard shortcuts, and more."
      />
			<Card
				href="https://developer.mozilla.org/en-US/docs/Learn/CSS"
				target="_blank"
				title="Learn CSS - MDN Web Docs (Documentation)"
				body="CSS or Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language such as HTML."
			/>
		</ul>
	</main>
	
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 120ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #000000 30%, rgb(255, 255, 255) 60%);
	}
	/* html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	} */
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>

