---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-12 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Learn technologies faster
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Access resource of any technology or field and learn at your own pace.
  </p
  <div class="flex mt-5">
    <!-- <a href="https://www.producthunt.com/posts/open-source-gallery?utm_source=badge-review&utm_medium=badge&utm_souce=badge-open-source-gallery#discussion-body" target="_blank">
    <img src="https://api.producthunt.com/widgets/embed-image/v1/review.svg?post_id=325005&theme=light" alt="Open Source Gallery - All contents related to Open-Source. | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54"/>
    </a> -->
    <Link href="./resource" style="inverted" class=" my-2 mt-8 hover:scale-105 ease-in-out duration-500 bg-gray-100"> Get Started</Link>
  </div>
</div>
