---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Bring Your Own Resource",
    description:
      "Build your own resource hub and contribute to resource gallery. Get credits for the contributions.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Blogs",
    description:
      "Resource Gallery also have a fully responsive blog section with fresh articles by contributors",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "On-Demand Resource",
    description:
      "Need Tailwind Resources? Resource Gallery will bring it live in few days by the power of open source community.  ",
    icon: "bx:bxs-data",
  },
  {
    title: "Broad Collection",
    description:
      "Resource gallery brings contents related to Web Development, Open-Source, Data Structures and many more.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Categories",
    description:
      "Resources are divided into  like articles, videos or codes.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "Resource Gallery is an open source project powered by hundreds of contributors making thousands of individual contributions.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to start in tech
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Resource Gallery brings resources of different technologies. It contains best resources and tools to became pro in software development field.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0 transform transition-all duration-700 hover:scale-125">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
