<script src="https://kit.fontawesome.com/c27622f79f.js" crossorigin="anonymous"></script>
<footer class="my-20">
   <div class = ' flex gap-8 md:gap-10 items-center justify-center mb-10 flex-wrap'>
    <a href="#" role="button"><i class="fa-brands fa-facebook fa-xl" style="color: #000000;"></i></a>
    <a href="https://twitter.com/astrodevil_" role="button"><i class="fa-brands fa-twitter fa-xl" style="color: #000000;"></i></a>
    <a href="https://www.instagram.com/codes.astro/" role="button"><i class="fa-brands fa-instagram fa-xl" style="color: #000000;"></i></a>
    <a href="https://github.com/ZeroOctave/resource-gallery" role="button"><i class="fa-brands fa-github fa-xl" style="color: #000000;"></i></a>
  </a>

   </div>
  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} <a
    href="https://mranand.com"
    target="_blank"
    rel="noopener"
    class="hover:underline">
    Mr. Ã…nand
  </a>. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Theme by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p>
</footer>
