---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/Ninja-amico.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture className="animate__animated animate__zoomIn  animation-duration: 3s; animate__slow"
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div class ="animate__animated animate__swing animation-duration: 3s; animate__delay-1s animate_slower">
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter" >
      Resource Gallery
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Are you interested in pursuing a career in tech? Are you a newcomer? Don't sure where, how, or why to begin? 
      <wbr/> You are in the right place. <strong>Resource Gallery</strong> provides the tools and resources you need to evolve into a skilled developer.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="./resource"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-lock-open" />

        Access for Free
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/Astrodevil/resource-gallery"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        Github Repo
      </Link>
    </div>
  </div>
</main>
