---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/Ninja-amico.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Resource Gallery
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Wants to start open-source? Are you a beginner? Don't know how, where, why to start? You are in right place.😊<wbr /> Open-Source-Gallery provides you with all the resources needed to become a good open-source contributor, project maintainer & developer.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://resource-gallery.pages.dev/"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-lock-open" />

        Access for Free
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="./resource"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        Github Repo
      </Link>
    </div>
  </div>
</main>
