---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Find Resources related to various technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12 hover:scale-125 ease-in-out duration-500 " name="simple-icons:react" />
    <Icon class="h-8 md:h-12 hover:scale-125 ease-in-out duration-500 " name="simple-icons:javascript" />
    <Icon class="h-8 md:h-14 hover:scale-125 ease-in-out duration-500 " name="simple-icons:tailwindcss" />
    <Icon class="h-8 md:h-16 hover:scale-125 ease-in-out duration-500 " name="simple-icons:python" />
    <Icon class="h-8 md:h-12 hover:scale-125 ease-in-out duration-500 " name="simple-icons:flutter" />
    <Icon class="h-8 md:h-12 hover:scale-125 ease-in-out duration-500 " name="simple-icons:git" />
  </div>
</div>
