<div class="subscribe-container">
  <iframe
    class="frameEmbed subscribe-box"
    src="https://zerooctave.substack.com/embed/"
    width="480px"
    height="320px"></iframe>
</div>

<style>
        .subscribe-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px 0 0 0;
        }

        .subscribe-box {
            padding: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            background-color: white;
            border-radius: 6px;
            box-shadow: 0 0 8px rgba(0, 0, 0, .7);
        }

		.frameEmbed {
            width: 80%;
        }
</style>
